<h1>New User</h1>
<%= form_for @user do |f| %>
	<% if @user.errors %>
		<% @user.errors.full_messages.each do |msg| %>
      		<p><%= msg %></p>
    	<% end %>
    <% end %>
  	First name: <%= f.text_field :first_name %><br />
  	Email : <%= f.text_field :email %><br />
  	<%= f.submit %>
<% end %>